<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the Quiz</h1>
    <a href="{{ url_for('quiz') }}">Start Quiz</a>
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
