{% extends "layout.html" %} {% block content %} {% for spørsmål in quiz_liste %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ spørsmål.author }}</a>
      <small class="text-muted">{{ spørsmål.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ spørsmål.title }}</a></h2>
    <p class="article-content">{{ spørsmål.content }}</p>
  </div>
</article>
{% endfor %} {% endblock content %}
